{% extends "FeedApp/base.html" %}
{% load bootstrap4 %}

{% block content %}
    <h2>Post: {{ post.description }}</h2>
    {% if post.image %}
        <h2>
            <img src="{{ post.image.url }}" class="img-thumbnail" style="max-height: 300px;" alt="Post Image">
            <br><br>
        </h2>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {% for c in comments %}
            <li>
                {{ c.text }} &nbsp -- &nbsp {{ c.username }}
                {% if c.username == user %}
                    <button type="submit" name="btn2" value={{c.id}} class="btn btn-outline-primary">Remove Comment</button>
                {% endif %}
            </li>
            <br>
        {% empty %}
            <li>There are no comments for this post.</li>
        {% endfor %}
        <br><br>
        <p><input type="text" name="comment"></p>
        <p><button type="submit" name="btn1" value=1 class="btn btn-outline-primary">Submit Comment</button></p>
    </form>
{% endblock content %}
